form {
    margin: 10px auto;
    width: 300px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 7px;
}

input[type=submit] {
    padding: 10px;
}

.error-msg {
    color: darkred;
    font-size: 12px;
}